<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Reservation Form</title>
</head>

<body>

<div class="container">
  <hr>
  <h3 class="h4 mb-4">Reservation Directory</h3>
  <hr>


  <p class="h4 mb-4">Reservation Form</p>

  <form action="#" th:action="@{/rooms/reservations/save}"
        th:object="${reservation}" method="POST">

    <!-- Add hidden field for handling update -->
    <input type="hidden" th:field="*{resId}"/>

    <div class="form-inline">
      <input type="text" th:field="*{customer}" class="form-control mb-4 col-4" placeholder="Customer name"/>

      <!-- Add error message if present -->
      <span th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" class="badge badge-danger m1-2 mb-4"></span>
    </div>

    <div class="form-inline">
      <input type="text" th:field="*{checkIn}" class="form-control mb-4 col-4" placeholder="Check In Date">

      <!-- Add error message if present -->
      <span th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}" class="badge badge-danger m1-2 mb-4"></span>
    </div>

    <div class="form-inline">
      <input type="text" th:field="*{checkOut}" class="form-control mb-4 col-4" placeholder="Check Out Date">

      <!-- Add error message if present -->
      <span th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}" class="badge badge-danger m1-2 mb-4"></span>
    </div>

    <div class="form-inline">
      <input type="text" th:field="*{room}" class="form-control mb-4 col-4" placeholder="Room No">

      <!-- Add error message if present -->
      <span th:if="${#fields.hasErrors('room')}" th:errors="*{room}" class="badge badge-danger m1-2 mb-4"></span>
    </div>

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>
  <a th:href="@{/rooms/reservations/list(roomNo=${reservation.room.roomNo})}">Back to Reservations List</a>

</div>
</body>

</html>
